.coding-concepts-buttons {
    display: grid;
    align-items: center;
    grid-column-gap: 10px;
    grid-row-gap: 30px;
    height: 2px;
    width: 500px;
  }

  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: left;
  }

  th, td {
    padding: 5px;
  }

#variables:hover {opacity: 0.4} 

#conditionalstatements:hover {opacity: 0.4}

#operators:hover {opacity: 0.4}

#loops:hover {opacity: 0.4}

#events:hover {opacity: 0.4}

#operators-image1 {
  position: relative;
  left: 400px;
  top: 100px;
}
